@import url('@fontsource/roboto/400.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ripple-color: 128, 0, 128;
}

.ripple {
  animation: ripple 2s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow:
      0 0 0 0rem rgba(180, 150, 200, 0.2),
      0 0 0 0.25rem rgba(180, 150, 200, 0.2),
      0 0 0 0.75rem rgba(180, 150, 200, 0.2),
      0 0 0 1.25rem rgba(180, 150, 200, 0.2);
  }
  100% {
    box-shadow:
      0 0 0 0.75rem rgba(180, 150, 200, 0.2),
      0 0 0 1.25rem rgba(180, 150, 200, 0.2),
      0 0 0 1.75rem rgba(180, 150, 200, 0);
  }
}

body {
  margin: 0;
  background-color: #f6f6f6;
}
